.landing-page {
    border: 2px solid black;
    margin: 10px;
    min-height: 100dvh;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.filters {
    margin-top: 10px;
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.search-input {
    border: 2px solid black;
    margin-right: 50px;
    margin-left: 10px;
    padding: 5px;
    width: 200px;
}

.category-select {
    border: 2px solid black;
    margin-left: 50px;
    margin-right: 10px;
    padding: 5px;
    width: 200px;
}

.product-list {
    width: 70%;
    border: 2px solid black;
    margin-top: 10px;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
}

@media (max-width: 1080px) {
    .product-list {
        width: 90%;
    }
}

@media (max-width: 900px) {
    .product-list {
        width: 100%;
        grid-template-columns: 1fr 1fr 1fr 1fr;
    }
}

@media (max-width: 700px) {
    .product-list {
        grid-template-columns: 1fr 1fr 1fr;
    }
}

@media (max-width: 500px) {
    .product-list {
        grid-template-columns: 1fr 1fr;
    }
}

@media (max-width: 320px) {
    .product-list {
        grid-template-columns:1fr;
    }
}